@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #232331;
    font-family: 'Roboto', sans-serif;
}

#captchaBackground {
    height: 80px;
    width: 120px;
    /* background-color: goldenrod; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-left: 42%;
    margin-top: -10px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: #FF0000;
}

#captchaHeading {
    color: white;
}

#captcha {
    height: 90%;
    /* width: 80%; */
    /* font-size: 120%; */
    letter-spacing: 10px;
    font-weight:bolder;
    font-family: Arial;
    background-color:goldenrod;
    /* margin: auto; */
    border-radius: 10px;
    display: block;
    
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}

#refreshButton {
    background-color:brown;
    border: 20px;
    font-weight: bold;
    color: antiquewhite;
    /* margin-top: -120px; */
}

#textBox {
    height: 30px;
    width: 120px;
    margin-top: -30px;
}
#captcha #textBox:hover {
    height: 30px;
    width: 120px;
    margin-top: -30px;
    font-size: 50%;
}
.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}
